<main class="dashboard" *ngIf="hasData">
  <div class="holder">
    <div class="container">
      <div class="row">
        <div class="col-12 right">
          <h4>Search</h4>
          <div class="filter-holder mb-4">
            <input placeholder="title" (change)="title($event.target.value)" [ngModel]="title_post"/>
            <input placeholder="description" (change)="description($event.target.value)" [ngModel]="descrition_post"/>
          </div>

          <div class="heading-holder">
            <h4>RECENT POSTS</h4>
          </div>

            <div *ngFor="let item of posts" class="post-holder">
              <div class="post-header">
                  <img src="https://cdn.filestackcontent.com/VPkdgPyoT8KDCLJEk9Xn" alt="Angeles City Logo" />
                <span>
                  <h6>{{item.title}}</h6>
                  <a href="#" class="date">@LungsodngAngeles  &bull; {{item.created_at | date: 'MMM d, y, h:mm a'}}</a>
                </span>
              </div>

            <img class="post-image" src="{{item.img}}" [hidden]="!item.img">

              <p>
                {{item.description}}
              </p>
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a [routerLink]="['/edit/post',item._id]" preserveQueryParams preserveFragment class="time">Edit</a></li>
              <!-- <li class="list-inline-item"><a href="#" class="date">{{item.created_at | date: 'dd/MM/yyyy'}}</a></li> -->
            </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
