//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  nav {
    background: $brand-color;

    box-shadow: 0 0 27px 0 rgba( 0, 0, 0, .34 );
    @include transition(.3s ease-in-out);

    .nav {
      li {
        .form-search {
          position: relative;

          .input-search {
            padding: 3px 30px 3px 15px;

            color: #1b6f43;

            background: transparent;
            border: 3px solid #1b6f43;
            border-radius: 24px;
          }

          .btn-submit {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            padding: 0 10px;
            height: 100%;

            color: #1b6f43;

            background: transparent;
            border: 0;
          }
        }

        .notification {
          margin: 0 15px;

          font-size: 28px;
          color: #1b6f43;
        }

        .account {
          padding: 8px;

          font-family: $text-font-lato-bold;
          text-decoration: none;

          background: #e4e4e4;
          border-radius: 50%;
        }
      }
    }

    #menu {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -300px;
      z-index: 999;
      overflow-y: auto;

      padding: 40px 0;
      width: 300px;
      height: 100vh;

      background: $dark-green;

      @include transition(.3s ease-in-out);

      .logo {
        display: block;
        margin: 0 auto 50px;
        max-width: 180px;
      }

      .navbar-nav {
        &>li {
          a {
            padding: 10px 15px;

            color: #fff;

            background: rgba(247,247,247,.1);
            border-bottom: 2px solid $dark-green;

            &:hover {
              background: #fff;

              color: $dark-green;
            }
          }

          &.active {
            a {
              color: $dark-green;

              background: #fff;
            }
          }

          &>ul {
            padding: 0;

            li {
              position: relative;

              padding: 10px 30px;

              color: #fff;

              &:before {
                content: '';

                position: absolute;
                top: 17px;
                left: 12px;

                height: 8px;
                width: 8px;
                background: #2eb66e;
                border-radius: 50%;
              }
            }
          }
        }
      }

      .btn-logout {
        margin: auto auto 0;
        width: 200px;

        @include on-event() {
          color: $brand-color;

          background: #fff;
        }
      }
    }
  }

  @include respond-to(sm-down) {
    &>.navbar {
      padding: 8px 10px;
    }
  }

  @include respond-to(xs) {
    nav {
      .nav {
        .form-search {
          .input-search {
            width: 110px;
          }
        }
      }
    }
  }
}
