//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.btn-green,
.upload-btn {
    display: block;
    padding: 6px auto;
    margin: 0 0 5px;

    font-size: 15px;
    color: #fff !important;
    letter-spacing: 3px;

    background: #a6d23f;
    border: 2px solid transparent;
    border-radius: 30px;

    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

    cursor: pointer;

    &:hover {
      color: #a6d23f !important;

      background: transparent;

      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
}


.btn-white {
  display: block;
  padding: 8px 10px;

  color: $brand-color !important;

  background: #fff;
  border-radius: 30px;

  cursor: pointer;

  &:hover {
      color: #fff !important;

      background: transparent;
      border: 2px solid #fff;

      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
}

.btn-dark-green {
  display: block;
  padding: 8px 10px;

  color: #fff;

  background: $dark-green;
  border-radius: 30px;

  cursor: pointer;


  &:hover {
      color: $dark-green !important;

      background: #fff;

      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
}
