<main class="emails">
  <div class="holder">
    <div class="container">
      <div class="row">
        <div class="col-12 content">
          <div class="heading-holder">
            <h4>FEEDBACK</h4>
            <!-- <a href="/add-post" class="btn btn-green">Add New</a> -->
          </div>
          <table class="table table-info">
            <thead>
              <tr>
                <th>User</th>
                <th>Title</th>
                <th>Description</th>
                <th> Replied </th>
                <!-- <th>Password</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let feedback of DataArray">
                <td>{{feedback.user_id[0].first_name}} {{feedback.user_id[0].last_name}}</td>
                <td>{{feedback.title}}</td>
                <td>{{feedback.description}}</td>
                <td>
               <!--   <a [routerLink]="['/user/edit',  feedback.user_id[0]._id]" preserveQueryParams preserveFragment  class="btn btn-green">Edit</a> -->
                <a *ngIf="feedback.is_replied === 0" [routerLink]="['/feedback/reply_feedback', feedback._id,feedback.user_id[0]._id]" preserveQueryParams preserveFragment  class="btn btn-green">Reply</a>

                <a *ngIf="feedback.is_replied === 1"  class="btn btn-green">Replied</a>

                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
