<main class="dashboard">
  <div class="holder">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 left">
          <img src="assets/images/logo.png" alt="Company Logo" />
          <div class="description">
            <p>City Information Office Angeles City</p>
            <h2>PUBLIC ADVISORY APPLICATION</h2>
          </div>
        </div>
        <div class="col-12 col-md-7 right">
          <div class="heading-holder">
            <h4>RECENT POSTS</h4>
          </div>
          <div class="post-holder">
            <h6>Post Title</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="#" class="time">5 HOURS AGO</a></li>
              <li class="list-inline-item"><a href="#" class="date">NOVEMBER 24, 2017</a></li>
            </ul>
          </div>

          <div class="post-holder">
            <h6>Lorem Ipsum</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="#" class="time">16 HOURS AGO</a></li>
              <li class="list-inline-item"><a href="#" class="date">NOVEMBER 23, 2017</a></li>
            </ul>
          </div>

          <div class="post-holder">
            <h6>Untitled</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="#" class="time">1 DAY AGO</a></li>
              <li class="list-inline-item"><a href="#" class="date">NOVEMBER 23, 2017</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
