//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.login {
    position: relative;
    height: 100vh;
    overflow: hidden;

    background-image: url("../assets/images/bg-login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      position: absolute;
      top: 169px;
      right: -25vh;
      z-index: 1;
      
      content: '';
      width: 175%;
      height: 307px;
      background: #a6d23f;
      border-bottom: 100px solid #9dc938;

      -webkit-transform: rotate(-25deg);
      transform: rotate(-25deg);
    }

    .holder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;

        padding: 32px 50px;
        margin: auto;
        max-width: 540px;
        max-height: 470px;

        background: $dark-green;
        -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);

        form {
            img,
            input,
            .btn-green {
                display: block;
                margin: auto;
            }

            img {
                margin-bottom: 35px;
                max-width: 150px;
            }

            input {
                padding: 8px 12px;
                margin-top: 25px;
                width: 100%;

                color: #fff;
                letter-spacing: 1.5px;

                background: $brand-color;
                border: 0;
                border-bottom: 3px solid #a6d23f;
            }

            input::-webkit-input-placeholder {
                color: #396571;
                letter-spacing: 1.5px;
            }
            input::-moz-placeholder {
                color: #396571;
                letter-spacing: 1.5px;
            }
            input:-ms-input-placeholder {
                color: #396571;
                letter-spacing: 1.5px;
            }
            input:-moz-placeholder {
                color: #396571;
                letter-spacing: 1.5px;
            }

            .btn-green {
                padding: 10px 20px;
                margin-top: 40px;
                max-width: 190px;
            }
        }
    }

    @include respond-to(sm-down) {
        .holder {
            padding: 20px 50px;
            max-height: 300px;

            form {
                img {
                    margin-bottom: 20px;
                    max-width: 85px;
                }

                input {
                    padding: 6px 10px;
                    margin-top: 20px;

                    font-size: 14px;
                    letter-spacing: 1px;

                    border-bottom: 2px solid #a6d23f;
                }

                .btn-green {
                    padding: 8px;
                    margin-top: 25px;
                    max-width: 140px;

                    font-size: 16px;
                    letter-spacing: 1px;
                }
            }
        }
    }

    @include respond-to(xs) {
        .holder {
            padding: 20px 30px;
            max-width: 90%;
        }
    }
}
