//main:../main.scss
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family
$font-lato: 'Lato';
$font-lato-semibold: 'Lato Semibold';
$font-lato-bold: 'Lato Bold';

/// @type List
$text-font-lato: 'Lato', sans-serif !default;
$text-font-lato-semibold: 'Lato Semibold', sans-serif !default;
$text-font-lato-bold: 'Lato Bold', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
// $brand-color: #2eb66e !default;
$brand-color: #12404d !default;


/// Light grey
/// @type Color
$light-grey: #ededed !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

$dark-green: #0c3440 !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;
