<main class="emails">
  <div class="holder">
    <div class="container">
      <div class="row">
        <div class="col-12 content">
          <div class="heading-holder">
            <h4>EMAILS</h4>
          </div>
          <table class="table table-info">
            <thead>
              <tr>
                <th>From</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>john@gmail.com</td>
                <td>Updates</td>
                <td>Lorem ipsum dolor etc co. .</td>
                <td>Nov-23-2017 01:00</td>
              </tr>
              <tr>
                <td>jane@gmail.com</td>
                <td>Untitled</td>
                <td>Lorem ipsum dolor etc co. .</td>
                <td>Nov-23-2017 01:00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
