<main class="emails">
  <div class="holder">
    <div class="container">
      <div class="row">
        <div class="col-12 content">
          <div class="heading-holder">
            <h4>USERS</h4>
            <!-- <a href="/add-post" class="btn btn-green">Add New</a> -->
            <a [routerLink]="['/users/add']" preserveQueryParams preserveFragment  class="btn btn-green">Add New</a>
          </div>
          <table class="table table-info">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th> Actions </th>
                <!-- <th>Password</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of DataArray">
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{ user.mobile }}</td>
                <td>
                  <a [routerLink]="['/user/edit', user._id]" preserveQueryParams preserveFragment  class="btn btn-green">Edit</a>
                  <a [routerLink]="['/user/delete', user._id]" preserveQueryParams preserveFragment  class="btn btn-green">Delete</a>
                </td>
                  <!-- <td>8$%iTu8j7w</td> -->
                <!-- <td>8$%iTu8j7w</td> -->
              </tr>
              <!-- <tr>
                <td>Jane</td>
                <td>Smith</td>
                <td>jane@gmail.com</td>
                <td>09145582719</td>
                <td>9f4*6%tYha</td>
              </tr>
              <tr> -->
                <!-- <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr> -->
                <!-- <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
