<main class="emails">
  <div class="holder">
    <div class="container">
      <div class="row">
        <div class="col-12 content">
          <div class="heading-holder">
            <h4>USERS</h4>
            <a href="/add-post" class="btn btn-green">Add New</a>
          </div>
          <table class="table table-info">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Password</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@gmail.com</td>
                <td>09145582719</td>
                <td>8$%iTu8j7w</td>
              </tr>
              <tr>
                <td>Jane</td>
                <td>Smith</td>
                <td>jane@gmail.com</td>
                <td>09145582719</td>
                <td>9f4*6%tYha</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
