<main class="add-post">
  <div class="holder">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-8 content">
          <div class="heading-holder">
            <h4>Add New User</h4>
          </div>
            <form #form="ngForm" (ngSubmit)="addUser(form.value)" class="add-forms">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="text" name="first_name" [(ngModel)]="first_name" placeholder="First Name">
              </div>
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="text" name="last_name" [(ngModel)]="last_name" placeholder="Last Name">
              </div>
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="text" name="username" [(ngModel)]="username" placeholder="Username">
              </div>
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="password">
              </div>
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="email" name="email_add" [(ngModel)]="email" placeholder="Email Address">
              </div>
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="text" name="phone_number" [(ngModel)]="phone_number" placeholder="Phone Number">
              </div>
               <div class="form-group upload-holder">
                  <input (click)="fileUpload()" type="button" name="" value="UPLOAD" class="upload-btn btn-white">
                  <img src="assets/images/icon-upload.png" alt="">
                  <span>Upload a Photo</span>
                </div>
              <div class="actions col-12">
                <input type="submit"   value="Publish" class="btn btn-white" style="width: 100%;">
                <a [routerLink]="['/users']" preserveQueryParams preserveFragment  class="btn btn-dark-green">Cancel</a>
                <!-- <a href="#" class="btn btn-dark-green">Cancel</a> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
