<main class="add-post">
  <div class="holder">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-8 content">
          <div class="heading-holder">
            <h4>Add New User</h4>
          </div>
          <div class="add-forms add-user-form">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="text" name="first_name" value="" placeholder="First Name">
              </div>
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="text" name="last_name" value="" placeholder="Last Name">
              </div>
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="email" name="email_add" value="" placeholder="Email Address">
              </div>
              <div class="form-group col-12 col-md-6">
                <input class="form-control" type="text" name="phone_number" value="" placeholder="Phone Number">
              </div>
              <div class="form-group upload-holder">
                <input type="file" name="" value="">
                <img src="assets/images/icon-upload.png" alt="">
                <span>Upload a Photo</span>
              </div>
              <div class="actions col-12">
                <a href="#" class="btn btn-white">Save</a>
                <a href="#" class="btn btn-dark-green">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
